<footer class="footer-1 bg-primary pt120">
                <div class="container">
                    <div class="row text-center">
                    	<h2 class="uppercase large mb80 mb-xs-24">Follow me</h2>
						<ul class="list-inline social-list mb24 spread-children">
							<li>
								<a alt="Tom Barlow GitHub Profile" href="https://github.com/tombee" target="_blank">
									<i class="icon ti-github"></i>
								</a>
							</li>
							<li>
								<a alt="Tom Barlow Twitter Profile" href="https://twitter.com/tomwbarlow" target="_blank">
									<i class="icon ti-twitter-alt"></i>
								</a>
							</li>
							<li>
								<a alt="Tom Barlow LinkedIn Profile" href="https://ie.linkedin.com/in/thomas-barlow-194b7724" target="_blank">
									<i class="icon ti-linkedin"></i>
								</a>
							</li>
							<li>
								<a alt="Tom Barlow Flickr Profile" href="https://www.flickr.com/photos/twbarlow/" target="_blank">
									<i class="icon ti-flickr"></i>
								</a>
							</li>
							<li>
								<a alt="Tom Barlow Instagram Profile" href="https://www.instagram.com/tomwbarlow/" target="_blank">
									<i class="icon ti-instagram"></i>
								</a>
							</li>
						</ul>
                    </div>
                </div>
				<a class="btn btn-sm fade-half back-to-top inner-link" href="#top">
					Top
					&nbsp;
					<i class="ti-angle-up"></i>
				</a>
            </footer>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/smooth-scroll.min.js"></script>
		<script src="/js/parallax.js"></script>
		<script src="/js/scripts.js"></script>
	</body>
</html>
