<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lynda O'Leary</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/et-line-icons.css" rel="stylesheet" type="text/css" media="all">
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme-navy.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    </head>
		<body class="scroll-assist">
			<div class="nav-container">
				<a id="top"></a>
				<nav class="bg-dark transparent absolute">
					<div class="nav-bar">
						<div class="module left">
						</div>
						<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
							<i class="ti-menu"></i>
						</div>
						<div class="module-group right">
							<div class="module left">
								<ul class="menu">
									<li><a href="/">Home</a></li>
									  <li><a href="/speaking">Speaking</a></li>
									  <li><a href="/podcasts">Podcasts</a></li>
									  <li><a href="/media">Media</a></li>
									  <li><a href="/projects">Projects</a></li>
									  <li><a href="/posts">Blog</a></li>
										
								</div>
							</ul>
						</div>
						<!--end of module group-->
					</div>
				</nav>
			</div>
			<div class="main-container">
