<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tom Barlow</title>
		<meta name="description" content="Tom Barlow, a Galway based software engineer working for Docker, Inc."/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
		<link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700" rel="stylesheet" type="text/css">
		<link href="/css/font-roboto.css" rel="stylesheet" type="text/css">
	</head>

	<body class="scroll-assist">
		<div class="nav-container">
			<a id="top"></a>
			<nav class="bg-dark transparent">
				<div class="nav-bar">
					<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
						<i class="ti-menu"></i>
					</div>
					<div class="module left">
						<ul class="menu">
							<li>
								<a href="/">Home</a>
								<a href="/blog">Blog</a>
							</li>
						</ul>
					</div>
					<div class="module-group right">
						<div class="module widget-handle language left">
							<ul class="menu">
								<li>
									<a alt="Tom Barlow GitHub Profile" href="https://github.com/tombee" target="_blank">
										<i class="icon ti-github"></i>
									</a>
								</li>
								<li>
									<a alt="Tom Barlow Twitter Profile" href="https://twitter.com/tomwbarlow" target="_blank">
										<i class="icon ti-twitter-alt"></i>
									</a>
								</li>
								<li>
									<a alt="Tom Barlow LinkedIn Profile" href="https://ie.linkedin.com/in/thomas-barlow-194b7724" target="_blank">
										<i class="icon ti-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div class="main-container">
