<a id="title" class="in-page-link"></a>
<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
	<ul class="slides">
		<li class="overlay image-bg">
			<div class="background-image-holder">
				<img alt="image" class="background-image" src="img/cover2.jpg">
			</div>
			<div class="container v-align-transform">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-offset-2 col-sm-8">
						<h1 class="mb40 mb-xs-16 text-center uppercase">Lynda O'Leary</h1>
						<h4 class="text-center uppercase mb16">Systems Engineer</h4>
						<p class="text-center uppercase mb16">Automating your infrastructure</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="align-bottom text-center">
		<ul class="list-inline social-list mb24">
			<li>
				<a alt="Lynda O'Leary GitHub Profile" href="https://github.com/lyndaoleary" target="_blank">
					<i class="ti-github"></i>
				</a>
			</li>
			<li>
				<a alt="Lynda O'Leary Twitter Profile" href="https://twitter.com/olearylynda" target="_blank">
					<i class="ti-twitter-alt"></i>
				</a>
			</li>
			<li>
				<a alt="Lynda O'Leary LinkedIn Profile" href="https://ie.linkedin.com/in/lyndaoleary" target="_blank">
					<i class="ti-linkedin"></i>
				</a>
			</li>
		</ul>
	</div>
</section>
<section class="image-bg overlay parallax">
	<div class="background-image-holder">
		<img alt="Background" class="background-image" src="img/page-coming-soon.jpg">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="mb16">About Me</h2>
				<h4>A graduate of Applied Languages with Computing from the University of Limerick. Lynda brings over 10 years experience working in software and IT Infrastructure.
			   <br></br> Lynda started her career as a Technical Writer, where she was awarded STC awards for her contributions to user-focused technical documentation and online help systems. She moved into a Scrum Master role, where she gained experience leading a distributed system team in an Agile environment using DevOps practices. Lynda transitioned to an engineering role in a System Admin team before moving into her current role a Systems Engineer, where she focuses on automating, monitoring and developing a secure, scalable continuous delivery pipeline for clients.   </h4>
				<br></br>
				<h4>Lynda passionately supports Diversity & Inclusion in the tech industry. She setup the Women in Technology Galway meetup in 2015. As a former chairperson for HPE Ireland Womens Network Galway and HPE UKI D&I site leader, Lynda led initiatives to attract and support women across HPE. In 2016, she was shortlisted for the Women in Technology ITAG (Information Technology Association of Galway) Award for her contributions to the West of Ireland's technology industry. She is an active speaker & mentor for STEM programs across Ireland, such as Teen-Turn and Smart Futures. </h4>
				<h4> </h4><p class="lead mb64"></p>
			</div>
		</div>
		
		<div class="col-sm-12 text-center">
				<h2 class="mb16">Skills</h2>
				<p class="lead mb64"></p>
			</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="feature feature-1 boxed">
					<div class="text-center">
						<i class="icon ti ti-write"></i>
						<h5 class="uppercase">Technical Writing</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature feature-1 boxed">
					<div class="text-center">
						<i class="icon ti ti-rocket"></i>
						<h5 class="uppercase">DevOps</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature feature-1 boxed">
					<div class="text-center">
						<i class="icon ti ti-medall"></i>
						<h5 class="uppercase">Scrum/Agile</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature feature-1 boxed">
					<div class="text-center">
						<i class="icon fa fa-server"></i>
						<h5 class="uppercase">System Admin</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature feature-1 boxed">
					<div class="text-center">
						<i class="icon et-line-profile-female"></i>
						<h5 class="uppercase">Women In Technology</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
					<div class="feature feature-1 boxed">
						<div class="text-center">
							<i class="icon fa fa-server"></i>
							<h5 class="uppercase">Engineering</h5>
						</div>
					</div>
				</div>
			
		</div>

	</div>
</div>

</div>

</section>
