<a id="title" class="in-page-link"></a>
<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
				<ul class="slides">
						<li class="overlay image-bg">
								<div class="background-image-holder">
										<img alt="image" class="background-image" src="img/cover2.jpg">
								</div>
								<div class="container v-align-transform">
										<div class="row">
												<div class="col-md-8 col-md-offset-2 col-sm-offset-2 col-sm-8">
														<h1 class="mb40 mb-xs-16 text-center uppercase">Lynda O'Leary</h1>
														<h4 class="text-center uppercase mb16">Scrum Master | Technical Writer</h4>
												</div>
										</div>

								</div>

						</li>
				</ul>
				<div class="align-bottom text-center">
					<ul class="list-inline social-list mb24">
						<li>
							<a alt="Lynda O'Leary GitHub Profile" href="https://github.com/lyndaoleary" target="_blank">
								<i class="ti-github"></i>
							</a>
						</li>
						<li>
							<a alt="Lynda O'Leary Twitter Profile" href="https://twitter.com/olearylynda" target="_blank">
								<i class="ti-twitter-alt"></i>
							</a>
						</li>
						<li>
							<a alt="Lynda O'Leary LinkedIn Profile" href="https://ie.linkedin.com/in/lyndaoleary" target="_blank">
								<i class="ti-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
		</section><section class="image-bg overlay parallax">
				<div class="background-image-holder">
						<img alt="Background" class="background-image" src="img/page-coming-soon.jpg">
				</div>
				<div class="container">
						<div class="row">
								<div class="col-sm-12 text-center">
										<h2 class="mb16">Blog</h2>
										<p class="lead mb64">Currently, updating my blog posts and restructuring my website. This section will be live soon...</p>
								</div>
						</div>

						<div class="row">
								<div class="col-sm-4">
										<div class="feature feature-1 boxed">
												<div class="text-center">
														<i class="icon ti ti-write"></i>
														<h5 class="uppercase">Technical Writing</h5>
												</div>
										</div>

								</div>
								<div class="col-sm-4">
										<div class="feature feature-1 boxed">
												<div class="text-center">
														<i class="icon ti ti-rocket"></i>
														<h5 class="uppercase">DevOps</h5>
												</div>
										</div>

								</div>
								<div class="feature feature-1 boxed">
										<div class="text-center">
												<i class="icon ti ti-medall"></i>
												<h5 class="uppercase">Scrum/Agile</h5>
										</div>
								</div>
								<div class="col-sm-4">
									<div class="feature feature-1 boxed">
												<div class="text-center">
														<i class="icon et-line-profile-female"></i>
														<h5 class="uppercase">Women In Technology GaLway meetup</h5>
												</div>
												<p> </p>
										</div>

								</div>
						</div>

				</div>

		</section>
