{{ partial "header.html" . }}

<section class="page-title page-title-4 image-bg overlay">
	<div class="background-image-holder fadeIn" style="background: url(&quot;/img/cover8.jpg&quot;);">
		<img alt="Background Image" class="background-image" src="/img/cover3.jpg" style="display: none;">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3 class="uppercase mb0">Podcasts</h3>
			</div>
			<div class="col-md-6 text-right">
				<ol class="breadcrumb breadcrumb-2">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="active">Podcasts</li>
				</ol>
			</div>
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				{{ range .Data.Pages }}
				<div class="post-snippet mb64">
					<div class="post-title">
						<time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}" class="label">{{ .Date.Format "January 02, 2006" }}</time>
						<a href="{{ .RelPermalink }}">
							<h4 class="inline-block">{{ .Title }} {{ if .Draft }}(Draft){{ end }}</h4>
						</a>
					</div>
					<ul class="post-meta">
						{{ if isset .Params "tags" }}
						<li>
							<i class="ti-tag"></i>
							<span>Tagged as
								{{ range .Params.tags }}
								<a href="#">{{ . }}</a>
								{{ end }}
							</span>
						</li>
						{{ end }}
					</ul>
					<hr>
					<p>{{ .Summary }}</p>
					<a class="btn btn-sm" href="{{ .RelPermalink }}">Read More</a>
				</div>
				{{ end }}
				<!--end of post snippet-->
			</div>
			<!--end of nine col-->
		</div>
		<!--end of container row-->
	</div>
	<!--end of container-->
</section>

{{ partial "footer.html" . }}
