{{ partial "header.html" . }}

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2>Blog</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				{{ range .Data.Pages }}
				<div class="post-snippet mb64">
					<div class="post-title">
						<time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}" class="label">{{ .Date.Format "January 02, 2006" }}</time>
						<a href="{{ .RelPermalink }}">
							<h4 class="inline-block">{{ .Title }} {{ if .Draft }}(Draft){{ end }}</h4>
						</a>
					</div>
					<ul class="post-meta">
						{{ if isset .Params "tags" }}
						<li>
							<i class="ti-tag"></i>
							<span>Tagged as
								{{ range .Params.tags }}
								<a href="#">{{ . }}</a>
								{{ end }}
							</span>
						</li>
						{{ end }}
					</ul>
					<hr>
					<p>{{ .Summary }}</p>
					<a class="btn btn-sm" href="{{ .RelPermalink }}">Read More</a>
				</div>
				{{ end }}
				<!--end of post snippet-->
			</div>
			<!--end of nine col-->
		</div>
		<!--end of container row-->
	</div>
	<!--end of container-->
</section>

{{ partial "footer.html" . }}
